@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box; outline: none; border: none; text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 4.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Header */

header {
    margin-top: 2.5rem;
    align-self: flex-start;
}

header span {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    text-transform: uppercase;
}

/* Main Section */

.mainSection {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 7.5rem;
    justify-content: center;
    gap: 7.375rem;
}

.mainSection img {
    width: 33vw;
}

.mainSection .content {
    display: flex;
    flex-direction: column;
}

.content h2 {
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.875rem;
    color: #333333;
    margin-bottom: 2.25rem;
}

.content p {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    color: #4F4F4F;
    margin-bottom: 4rem;
    width: 24rem;
}

.content button {
    width: 13.5rem;
    height: 4.25rem;
    background-color: #333333;
    font-family: 'Space Mono', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

/* Footer */

footer {
    margin-top: 10rem;
    position: relative;
    bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #BDBDBD;
}



/* Responsive */

@media screen and (max-width: 768px) {
    .mainSection {
        flex-direction: column;
    }
    
    .mainSection img {
        width: 70vw;
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 0 1.5rem;
    }

    .content h2 {
        font-size: 3rem;
        line-height: 4.4375rem;
    }

    .content p {
        font-size: 1.125rem;
        width: 20rem;
    }

    footer {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 320px) {

    .content h2 {
        font-size: 2.3rem;
        line-height: 3.5rem;
    }

    .content p {
        font-size: 1.125rem;
        width: 16rem;
    }
}